<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <header class="header">
    <a href="/">
      <div class="arrow"><</div>
    </a>

    <h2>LOGIN</h2>

    <div class="actions">
      <%= f.submit "Log in", class: "btnn" %>
    </div>
  </header>

  <div class="field">
    <%= f.email_field :email, placeholder: "Email", autofocus: true, autocomplete: "email", class: "input" %>
  </div>

  <div class="field">
    <%= f.password_field :password, placeholder: "Password", autocomplete: "current-password", class: "input" %>
  </div>

<% end %>

<div class="forgoty">
<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "Forgot password?", new_password_path(resource_name), class: "fogot" %><br />
<% end %>
<div>